li.post_widget
  section.post_widget_section.post_widget_left
    block top_bar_left

      input#start_time.requiredInput.input-medium(type='text', name="start_time", readonly="readonly", value=post.start_time)

  section.post_widget_section.post_widget_main
    section.post_main_info
      block top_bar_main

      input.post_name.requiredInput(type='text', maxlength='35', name='name', value=post.name)
      section.subtitle.descriptor
        div
          input.gray_text.venue_text.descriptor.requiredInput(style='width: 105px', type='text', maxlength='35', name='location', value=post.location)
        div.attending_icon
        div.red_text.attending_text= post.attending_count
        div.comments_icon
        div.gray_text.comments_text #

  section.post_widget_section.post_widget_right
    section.venue_widget
      div.pic_venue_container
        - if (typeof(post.venue) != 'undefined')
          img.pic_venue(src='http://graph.facebook.com/'+post.venue.id+'/picture?type=square')
        - else
          img.pic_venue(src='/img/default_square.png')
      section.venue_info
        div.venue_name= post.location
