extends ../layouts/default

block main
  div.page_content.subscriptions
    include ../widgets/form_delete_bubble

    include widgets/form_modify_bubble_edit
  
    div.divider

    section.edit_members
      div.subtitle.colorize_blue.edit_members_heading pending members
      ul#pending_members.member_list
        each user in bubble.connections.users.invitees
          li.member_widget
            div.face_circle_container
              img.face_circle(src='http://graph.facebook.com/' + user.facebook.id + '/picture?type=square', style='float: left')
            form(method='post', action='/bubbles/' + bubble._id + '/remove_invitee/' + user._id)
              button#connect_bubble_apply.red_button(type='submit') cancel invite
              input(type='hidden', name='redirect_url', value=req.url)
            h4= user.name
            p invited to be a member
        each user in bubble.connections.users.applicants
          li.member_widget
            img(src='http://graph.facebook.com/' + user.facebook.id + '/picture?type=square', style='float: left')
            form(method='post', action='/bubbles/' + bubble._id + '/add_member/' + user._id)
              button#connect_bubble_apply.red_button(type='submit') confirm
              input(type='hidden', name='redirect_url', value=req.url)
            form(method='post', action='/bubbles/' + bubble._id + '/remove_applicant/' + user._id)
              button#connect_bubble_apply.red_button(type='submit') deny
              input(type='hidden', name='redirect_url', value=req.url)
            h4= user.name
            p applied to be a member
    section.edit_members
      div.subtitle.colorize_blue.edit_members_heading existing members
      ul.member_list
        li#invite_member.member_widget
          div#autocomplete_hidden_bubble_id.hidden= bubble._id
          h4#invite_member_start invite new member
          section#invite_member_search.invite_member_search
            input#invite_member_input(placeholder="type someone's name")
        each user in bubble.connections.users.admins
          li.member_widget
            img(src='http://graph.facebook.com/' + user.facebook.id + '/picture?type=square', style='float: left')
            if (user._id != req.user.id)
              form(method='post', action='/bubbles/' + bubble._id + '/demote_to_member/' + user._id)
                button#connect_bubble_apply.red_button(type='submit') demote to member
                input(type='hidden', name='redirect_url', value=req.url)
              form(method='post', action='/bubbles/' + bubble._id + '/remove_admin/' + user._id)
                button#connect_bubble_apply.red_button(type='submit') remove from bubble
                input(type='hidden', name='redirect_url', value=req.url)
            h4= user.name
        each user in bubble.connections.users.members
          li.member_widget
            img(src='http://graph.facebook.com/' + user.facebook.id + '/picture?type=square', style='float: left')
            form(method='post', action='/bubbles/' + bubble._id + '/add_admin/' + user._id)
              button#connect_bubble_apply.red_button(type='submit') promote to admin
              input(type='hidden', name='redirect_url', value=req.url)
            form(method='post', action='/bubbles/' + bubble._id + '/remove_member/' + user._id)
              button#connect_bubble_apply.red_button(type='submit') remove from bubble
              input(type='hidden', name='redirect_url', value=req.url)
            h4= user.name
