extends ../layouts/default

block main
    // form(method="post", action="/bubbles/#{bubble._id}/#{bubble_section}s/#{post._id}/update")
    section(class=['page_#{bubble_section}s'])
      section.back_to_bubble
        a.back_button.gradient_gray(href='/bubbles/'+bubble._id+'/#{bubble_section}s')
          span.descriptor.gray_text.back_to back to
          span.descriptor.red_text.bubble_name= bubble.name
      //- a(href='/bubbles/'+bubble._id+'/#{bubble_section}s/#{post._id}/edit')
        //- button.create_an_event.red_button edit #{bubble_section}
      //- button.create_an_event.red_button(type='submit') save
      ul.post_list.single_post
        | !{ post_widget }
      section.post_info
        section.left_bar
          section.section_top
            div.pic_post_container
              form.upload_post_image(id='upload_post_image', method='post', action='/bubbles/#{bubble._id}/#{bubble_section}s/#{post._id}/upload', enctype='multipart/form-data')
                section.change_photo_container.subscribe
                  div.descriptor.gray_text change photo
                  input.input_file(type='file', name='input_file')
                button.red_button.submit_upload(type='submit') upload
              img.pic_post(src=post.pic_big)
          section.section_middle
            div.descriptor.gray_text venue
            h4= post.location
          section.section_bottom
            div.post_action_container
              button.post_action_calendar
              div.descriptor.gray_text share w/ friends
            div.post_action_container
              button.post_action_calendar
              div.descriptor.gray_text add to calendar
        section.post_attributes
          section.post_description
            | !{ post_description }
          div.divider
          section.students_going
            div.descriptor.red_text
              = post.attending_count
              |  people
            h4.going going
          div.divider
        section.comment_area#comments
          include ../comments/form
          section.comment_list
            each comment in post.comments
              include ../comments/comment
