li.post_widget
  a(href='/bubbles/'+bubble._id+'/#{bubble_section}s/'+post._id)
    section.post_widget_section.post_widget_left
      - if (typeof(post.start_time) != 'undefined')
        p= post.start_time
      - else if (typeof(post.discount) != 'undefined')
        p #{post.discount}% off
    section.post_widget_section.post_widget_main
      section.post_main_info
        h4.post_name= post.name
        section.subtitle.descriptor
          div.gray_text.venue_text= post.location
          div.attending_icon
          div.red_text.attending_text= post.attending_count
          div.comments_icon
          div.gray_text.comments_text #
    section.post_widget_section.post_widget_right
      section.venue_widget
        div.pic_venue_container
          - if (typeof(post.venue) != 'undefined')
            img.pic_venue(src='http://graph.facebook.com/'+post.venue.id+'/picture?type=square')
          - else
            img.pic_venue(src='../img/default_square.png')
        section.venue_info
          div.venue_name= post.location
