block set_object_type

section(class=['upload_post_image_form_container','upload_image_form_'+object_type])
  form#upload_post_image.upload_post_image.mobile_visible(method='post', action='/bubbles/#{bubble._id}/#{bubble_section}/view/#{post._id}/upload', enctype='multipart/form-data')
    section.change_photo_container.subscribe
      div.descriptor.gray_text
        if (post.pic_big != '/img/default.jpg')
          | change #{object_type} photo
        else
          | add #{object_type} photo
      input#input_post_image.input_file(type='file', name='input_file')
    button.submit_upload(type='submit') upload
  div#loader_post_image.loader
