extends /layouts/default

block main
    section(class=['page_#{bubble_section}s'])
      section.back_to_bubble
        a.back_button.gradient_gray(href='/bubbles/'+bubble._id+'/#{bubble_section}')
          span.descriptor.gray_text.back_to back to 
          span.descriptor.red_text.bubble_name= bubble.name
      ul.post_list.single_post
        block post_widget

      section.post_info
        block left_bar

        section.left_bar
          section.section_top
            div.pic_post_container
              section.upload_post_image_form_container
                | !{ change_post_image }
              img.pic_post(src=post.pic_big)
          section.section_middle
            div.descriptor.gray_text venue
            h4= post.location
          section.section_bottom
            div.post_action_container
              button.post_action_calendar
              div.descriptor.gray_text share w/ friends
            div.post_action_container
              button.post_action_calendar
              div.descriptor.gray_text add to calendar

        section.post_attributes
          block post_description

          section.post_description

          div.divider
          block students_going

          section.students_going
            div.descriptor.red_text
              = post.attending_count
              |  people
            h4.going going
          div.divider

        block comments

        section.comment_area#comments
          include ../comments/form
          section.comment_list
            each comment in post.comments
              include ../comments/comment
